@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap');

body {
    background-image: url("https://res.cloudinary.com/dci1eujqw/image/upload/v1616769558/Codepen/waldemar-brandt-aThdSdgx0YM-unsplash_cnq4sb.jpg")
}

.cuad-activo {
    width: 700px;
    height: 450px;
    align-items: center;
    background-color: rgba(179, 178, 178, 0.479);
    border-radius: 20px;
    text-align: center; 
    position:absolute;
    top: 50%;
    margin-top: -225px;
    left: 50%;
    margin-left: -350px;

}

.cuadrado-singin {
    width: 350px;
    height: 450px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #F1EDEE;    
    float: left;
}

.cuad-activo h2 {
    font-family: Raleway;
    font-weight: 400;
    text-align: center;
    padding: 40px;
}

.cuad-activo input {
    font-family: Raleway;
    border-radius: 5px;
    border-style: none;
    margin: 7px;
    height: 30px;
    width: 200px;
    margin-right: 85px;
    margin-left: 85px;
}

.cuad-activo p {
    font-family: Raleway;
    font-size: 13px;
    text-align: center;
}

.cuad-activo button {
    width: 150px;
    height: 50px;
    background: linear-gradient(90deg, rgba(35,92,148,1) 0%, rgba(68,132,133,1) 100%);
    border-style: none;
    border-radius: 30px;
    font-family: Raleway;
    font-weight: 600;
    font-size: 15px;
    color: white;
    margin-top: 40px;
    border: 1px solid rgb(36, 97, 146);
}

.cuadrado-signup {
    width: 350px;
    height: 450px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #F1EDEE;    
    float: right;
}

.cuad-inactivo {
    width: 700px;
    height: 450px;
    align-items: center;
    background-color: rgba(179, 178, 178, 0.479);
    border-radius: 20px;
    text-align: center; 
    position:absolute;
    top: 50%;
    margin-top: -225px;
    left: 50%;
    margin-left: -350px;    
}

